/*
  ____           _   _     _             
 |  _ \ ___  ___| |_(_)___| | __ ___   __
 | |_) / _ \/ __| __| / __| |/ _` \ \ / /
 |  _ < (_) \__ \ |_| \__ \ | (_| |\ V / 
 |_| \_\___/|___/\__|_|___/_|\__,_| \_/  
                                         
*/
body{
background-color:#6A5ACD;
font-size: 30px;
color:#FFFFFF;
font-family:"Century Gothic",Arial,sans-serif;
}
@font-face{
font-family:"Century Gothic";
src: url('CenturyGothic.eot?#iefix');
src: url('GOTHIC.TTF');}
.center{text-align: center;}
.invisible{
visibility: hidden;
opacity: 0;}
#city{
background-image: url(city.jpg); repeat-x; margin-left:-10px; margin-right: -10px;}
.rotate{
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.rotate:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
} 
#radio{
background-image: url(radio.jpg); repeat-x; margin-left: -10px; margin-right: -10px;}
a{
text-decoration: none;
color: #FFFFFF;
}
.hover:hover{
opacity: 0.7;
}
.pointer{
cursor:pointer;
}
#city2{
background-image: url(city2.jpg);background-repeat:repeat-x; margin-left: -10px; margin-right: -10px;}
#laptop{
background-image: url(laptop.jpg); repeat-x; margin-left: -10px; margin-right: -10px;}
#laptop22{
  background-image: url("laptop2.jpg"); background-repeat: repeat-x; margin-left:-10px; margin-right: -10px; 
}
#laptops{
  background-image:url(laptops.jpg); background-repeat: repeat-x; margin-right: -10px; margin-left: -10px;
}
#city3{
  background-image: url(city3.jpg); background-repeat: repeat-x; margin-right: -10px; margin-left: -10px;
}#laptop{
  background-image: url(laptop.jpg); background-repeat: repeat-x; margin-left: -10px; margin-right: -10px;
}
#servers{
  background-image: url(servers.jpeg); background-repeat: repeat-x; margin-right: -10px; margin-left: -10px;
}
#city4{
  background-image: url(city4.jpeg); background-repeat: repeat-x; margin-left: -10px; margin-right: -10px;
}
.menufix{position: fixed; left: 50%; right: 60%; opacity: 0.7;
z-index: 1000;}
.menu{
  z-index: 1001;
  
}
.Place1{    
    width: 50%;
    height: 20%;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 5px;

   
}